/* ----------------------------------------------------------
   1. ШРИФТЫ НА "ABOUT:" СТРАНИЦАХ
   Унифицирует шрифт на каждой "about:" странице Firefox, если
   вам этот функционал не нужен, то просто уберите этот блок.
   ---------------------------------------------------------- */
@-moz-document url-prefix("about:") {
    * {
        font-family: "IosevkaTermSlab Nerd Font Mono" !important;
    }
}

/* ----------------------------------------------------------
   2. ДОМАШНЯЯ СТРАНИЦА И НОВАЯ ВКЛАДКА
   Убирает с домашней страницы и новой вкладки логотип Firefox
   и кнопку для смены обоев, так что следует сначала поставить
   нужное фоновое изображение, а уже потом применять этот файл.
   ---------------------------------------------------------- */
@-moz-document url("about:home"), url("about:newtab") {
    /* логотип */
    .logo-and-wordmark {
        display: none !important;
    }

    /* кнопка для смены фонового изображения */
    #main-button {
        display: none !important;
    }
}
