* {
    background-color: transparent;
    font-family: IosevkaTermSlab Nerd Font Mono;
    color: #ebdbb2;
    font-size: 15px;
    border-radius: 0px;
    transition: none;
    animation: none;
    box-shadow: none;
    text-shadow: none;
}

#entry {
    background-color: #282828;
    padding-left: 10px;
    outline: none;
}

#entry:selected {
    background-color: #3c3836;
}

#input {
    caret-color: #ebdbb2;
    padding-left: 10px;
    background-color: #282828;
    border: 1px solid #665c54;
}

#input:focus {
    background-color: #3c3836;
    border: 1px solid #ebdbb2;
}

#inner-box {
    border: 1px solid #665c54;
    border-top: none;
}

scrolledwindow overshoot.top,
scrolledwindow overshoot.bottom,
scrolledwindow overshoot.left,
scrolledwindow overshoot.right {
    background: none;
}
